<p id="notice"><%= notice %></p>

<p>
  <strong>Town name:</strong>
  <%= @town_project.town_name %>
</p>

<%= link_to 'Edit', edit_town_project_path(@town_project) %> |
<%= link_to 'Back', town_projects_path %>
